/* Resetting default browser styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(0, 0, 0); /* Background color set to yellow */
  color: rgb(255, 208, 0); /* Text color set to black */
}

header {
  background-color: rgb(0, 0, 0); /* Header background color set to black */
  color: rgb(255, 208, 0); /* Header text color set to yellow */
  padding: 20px;
  height: 120px; /* Adjust the height as needed */
  text-align: left; /* Center align the content */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 18px; /* Increase the font size for navigation links */
  font-weight: bold;
  /*display: flex;
  align-items: center;
  justify-content: space-between;*/
}

.header-content {
  overflow: hidden; /* Clear the floats */
}

header .logo-container h1 {
  text-align: left; /* Align the h1 elements to the left */
}

h1 {
  margin-top: 8px; /* Adjust the margin-top value to move the heading text lower */
  text-align: left; /* Align the h1 elements to the left */
}

nav ul {
  list-style-type: none;
  text-align: center;
  line-height: 120px; /* Adjust this value to match the height of your header */
}

nav {
  float: right; /* Float the navigation to the right */
}

nav ul li {
  display: inline;
  margin-right: 40px;
}

nav ul li a {
  color: rgb(255, 208, 0); /* Navigation links color set to yellow */
  text-decoration: none;
}

main {
  padding: 20px;
}

.logo {
  height: 130px; /* Adjust the height according to your logo */
  width: auto; /* Allows the width to adjust proportionally with the height */
  margin-right: 10px; /* Adds some space between the logo and the header text */
  margin-top: 0px; /* Adjust the margin-top value to move the logo higher */
}

.logo-container {
  float: left; /* Float the logo container to the left */
}

.big-picture {
  text-align: center; /* Center-align the image */
  margin-bottom: 20px; /* Add some space below the image */
}

.image-container {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
}

.image-container img {
  max-width: 100%; /* Make the image responsive */
  height: auto; /* Maintain aspect ratio */
}

footer {
  background-color: black; /* Footer background color set to black */
  color: rgb(255, 208, 0); /* Footer text color set to yellow */
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
